.seen-movies-container {
  margin-top: 10px;
}

.movie-table {
  width: 100%; 
  table-layout: fixed;
}

.movie-table tr:nth-child(even) {
  background-color: #f8f8f8;
}

.movie-table th,
.movie-table td {
  text-align: left; 
  padding: 8px; 
  white-space: pre-wrap;
}

.movie-table th:nth-child(1),
.movie-table td:nth-child(1) {
  width: 10%;
}

.movie-table th:nth-child(2),
.movie-table td:nth-child(2) {
  width: 50%; 
}

.movie-table th:nth-child(3),
.movie-table td:nth-child(3) {
  width: 25%;
  text-align: center;
}

.movie-table th:nth-child(4),
.movie-table td:nth-child(4) {
  width: 15%; 
  text-align: center;
}

.movie-table tr:hover {
  background-color: #f1f1f1de;
}

.movie-table th {
  background-color: #33333394;
  color: white;
}

.star-rating {
  font-size: 20px;
  color: #ffd700; 
}

.star-rating span {
  margin-right: 5px;
}

.star-rating svg {
  cursor: pointer;
}

.star-rating input {
  display: none;
}

.button-container {
  text-align: center;
  margin-top: 20px; 
}

.get-recommendations-button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px; 
  background-color:  #ff6347; 
  color: #fff; 
  font-size: 16px; 
  border: none;
  border-radius: 5px; 
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

.get-recommendations-button:hover {
  background-color:  #ff4500; 
}

.model-info {
  background-color: #f4f4f4; 
  border: 1px solid #ddd; 
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.model-info p {
  margin: 5px 0;
}

.model-name {
  font-weight: bold; 
  color: #333;
}

.rmse {
  font-style: italic; 
}
.rmse-green {
  color: #2ecc71; 
}

.rmse-red {
  color: #e67e22; 
}

.genre {
  display: inline-block;
  padding: 4px 10px;
  margin: 2px;
  border-radius: 5px;
  font-size: 14px;
}

.drama {
  background-color: #ffd700; 
  color: #fff; 
}

.romance {
  background-color: #ff69b4; 
  color: #fff; 
}

.war {
  background-color: #808080; 
  color: #fff; 
}

.western {
  background-color: #cd853f; 
  color: #fff;
}

.action {
  background-color: #e64a2ebe; /* Tomato */
  color: #ffffff; /* Dark gray */
}

.adventure {
  background-color: #00bfff; /* Deep Sky Blue */
  color: #fff; /* Dark gray */
}

.scifi {
  background-color: #32cd32; /* Lime Green */
  color: #fff; /* Dark gray */
}

.thriller {
  background-color: #2e2e2e; /* Purple */
  color: #fff; /* White */
}

.horror {
  background-color: #610d0d6b; /* Dark Red */
  color: #fff; /* White */
}

.mystery {
  background-color: #800080; /* Purple */
  color: #fff; /* White */
}

.comedy {
  background-color: #ffa500; /* Orange */
  color: #ffffff; /* Dark gray */
}

.film-noir {
  background-color: #696969; /* Dim Gray */
  color: #fff; /* White */
}

.animation {
  background-color: #56db6d; /* Light Sea Green */
  color: #fff; /* Dark gray */
}

.children {
  background-color: #ffb6c1; /* Light Pink */
  color: #fff; /* Dark gray */
}

.musical {
  background-color: #e378ec; /* Deep Pink */
  color: #ffffff; /* Dark gray */
}

.imax {
  background-color: #83d7da; /* Steel Blue */
  color: #fff; /* White */
}

.sci-fi {
  background-color: #32cd32; /* Lime Green */
  color: #fff; /* Dark gray */
}

.fantasy {
  background-color: #9370db; /* Medium Purple */
  color: #fff; /* White */
}

.crime {
  background-color: #4682b4; /* Steel Blue */
  color: #fff; /* White */
}

.documentary {
  background-color: #90ee90; /* Light Green */
  color: #fff; /* Dark gray */
}